.wrapper {
  background-image: url('../../assets/images/bgWin.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  gap: 75px;
}

.textWrapper {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-block-end: 41px;
  animation: text-show 0.5s ease forwards;
}

.text {
  color: $color-pink;
  line-height: 1.25;
  text-align: center;
  font-weight: $fw-bold;
  font-size: 20px;
  max-inline-size: 600px;

  @media (min-width: $breakpoint-large) {
    font-size: 48px;
  }
}

@keyframes text-show {
  0% {
    opacity: 0;
    transform: scale(0.4);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
