.wrapper {
  gap: 48px;
}

.imageWrapper {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    inline-size: 57px;
    block-size: 56px;
    top: -78px;
    left: 19px;
    background-image: url('../../assets/images/sprinklewhite.webp');
    background-repeat: no-repeat;
    background-size: contain;
  }

  &::after {
    content: '';
    position: absolute;
    inline-size: 23px;
    block-size: 23px;
    top: -125px;
    right: 28px;
    background-image: url('../../assets/images/sprinkleGold.webp');
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.popup {
  position: absolute;
  top: 32px;
  left: 14px;
  z-index: 1;
}

.popupText {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.image {
  position: relative;
  z-index: 0;
}

.options {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-inline-size: 216px;
  margin-block-start: -30px;
  font-size: 20px;

  @media (min-width: $breakpoint-large) {
    font-size: 32px;
  }
}

.options_final {
  gap: 49px;

  &::after {
    content: '';
    position: absolute;
    inline-size: 40px;
    block-size: 40px;
    top: 57px;
    left: -33px;
    background-image: url('../../assets/images/sprinkleGold.webp');
    background-repeat: no-repeat;
    background-size: contain;
  }

  &::before {
    content: '';
    position: absolute;
    inline-size: 47px;
    block-size: 36px;
    top: 262px;
    right: -51px;
    background-image: url('../../assets/images/sprinkleGold.webp');
    background-repeat: no-repeat;
    background-size: contain;
  }

  @media (min-width: $breakpoint-large) {
    &::before,
    &::after {
      content: none;
    }
  }
}

.options_common {
  gap: 16px;

  &::after {
    content: '';
    position: absolute;
    inline-size: 47px;
    block-size: 36px;
    top: 149px;
    right: -45px;
    background-image: url('../../assets/images/sprinkleGold.webp');
    background-repeat: no-repeat;
    background-size: contain;
  }

  @media (min-width: $breakpoint-large) {
    &::after {
      content: none;
    }
  }
}

.text {
  font-weight: $fw-bold;
  color: $color-pink;
  inline-size: 290px;
  text-align: center;
  line-height: 1.25;

  @media (min-width: $breakpoint-large) {
    inline-size: 600px;
  }
}

.button {
  all: unset;
  text-transform: uppercase;
  font-weight: $fw-bold;
  background-color: $color-pink;
  color: white;
  padding: 12px 34px;
  border-radius: 25px;
  cursor: pointer;
  transition: opacity 0.2s;

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &:hover,
  &:focus-visible {
    opacity: 0.8;
  }
}

.or {
  font-weight: $fw-bold;
  color: $color-pink;
  text-transform: lowercase;
}
