.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: $color-dark-grey;
  padding: 12px 15px;
  line-height: 1.28;
}

.promotionTerms {
  color: $color-soft-white;
  font-size: 14px;
  max-width: 966px;
}

.promotionTerms p:first-child {
  margin-block-end: 20px;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  margin-block-start: 20px;
  font-size: 12px;
  inline-size: 100%;
  max-width: 1440px;

  @media (min-width: $breakpoint-tablet) {
    flex-direction: row;
    justify-content: space-around;
  }
}

.linksWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.linksList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  margin-block-start: 20px;

  @media (min-width: $breakpoint-tablet) {
    flex-direction: row;
  }
}

.link {
  color: inherit;
  text-decoration: none;
  transition: opacity 0.2s;

  &:hover {
    opacity: 0.5;
  }
}

.copyright {
  color: $color-soft-white;
  margin-block: 10px;
}

.errorButton {
  border: 2px solid white;
  background-color: transparent;
  border-radius: 15px;
  color: inherit;
  padding: 5px 10px;
  margin-block-start: 10px;
  cursor: pointer;
  transition: opacity 0.2s;

  &:hover {
    opacity: 0.6;
  }
}
